@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Cascadia.ttf') format('ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Cascadia Code', monospace, sans-serif;
}

header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #ffffff;
}

header h1 {
  font-size: 24px;
}

header a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 5px;
}

header div a:hover,
header div a.active {
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
}

.card {
  margin-top: 16px;
  padding: 16px 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.icon-attr {
  width: fit-content;
  color: #000000;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
