/* Todo List */
.todo {
  padding: 32px;
}
.todo h2 {
  text-align: center;
  margin-bottom: 16px;
}
.todo__add {
  max-width: 400px;
  margin: auto;
  display: flex;
}
.todo__add--input {
  flex-basis: 75%;
  padding: 8px 16px;
  outline: none;
  border: 1px solid black;
  border-right: none;
  font-size: 16px;
}
.todo__add--button {
  flex-basis: 25%;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 16px;
}
.todo__add--button:hover {
  background: #000000;
  color: #ffffff;
}
.todo__items {
  max-width: 400px;
  margin: auto;
}
.todo__item {
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__item--text {
  flex-basis: calc(100% - 100px);
}
.todo__item--text.done {
  text-decoration: line-through;
  color: #aaaaaa;
}
.todo__item--icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bi-hourglass-split:hover {
  color: #0d6efd;
}
.bi-check-lg {
  font-size: 24px;
}
.bi-check-lg:hover {
  color: #198754;
}
.bi-arrow-counterclockwise:hover {
  color: #ffc107;
}
.bi-trash3:hover {
  color: #dc3545;
}
